* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-crh.crh.lexc -text
/apertium-crh.crh.rlx -text
/apertium-crh.crh.twol -text
/apertium-crh.err.twol -text
/apertium-crh.pc.in -text
/apertium-crh.post-crh.dix -text
/autogen.sh -text
/configure.ac -text
/crh.prob -text svneol=unset#unset
dev/Makefile -text
dev/annot-comp.py -text
dev/annotate[!!-~]DK[!!-~]061217.txt -text
dev/annotate.all.txt -text
dev/annotate.forms.txt -text
dev/annotate.trimmed.txt -text
dev/annotate.txt -text
dev/annotate_DK_052017.txt -text
dev/annotate_Remziye_060517.txt -text
dev/countstems.sh -text
dev/crh_CYRL.txt -text
dev/crh_CYRL2LAT.lexc -text
dev/crh_CYRL2LAT.sh -text
dev/crh_CYRL2LAT.tsv -text
dev/crh_CYRL2LAT.twol -text
dev/crh_LAT2CYRL.lexc -text
dev/crh_LAT2CYRL.sh -text
dev/crh_LAT2CYRL.twol -text
dev/ngrams/crh_CYRL.ngrams.2.tsv -text
dev/ngrams/crh_CYRL.ngrams.3.tsv -text
dev/ngrams/crh_CYRL.ngrams.4.tsv -text
dev/ngrams/crh_CYRL.ngrams.5.tsv -text
dev/tokenisation/Makefile -text
dev/tokenisation/test.lexc -text
dev/tokenisation/test.txt -text
dev/verbtrans.txt -text
/modes.xml -text
tests/cases.yaml -text
tests/future.yaml -text
tests/loanwords.yaml -text
tests/phon-y.yaml -text
tests/possessives.yaml -text
tests/verbs.yaml -text
tests/voicing.yaml -text
texts/alfred_nobel.vislcg.txt -text
texts/altintas.txt -text
texts/challenge.vislcg.txt -text
texts/crh-feats.tsv -text
texts/grammar.crh.txt -text
texts/grammar.vislcg.txt -text
texts/puupankki/puupankki.crh.conllu -text
texts/qarilgaclar.txt -text
texts/wikipedia.vislcg.txt -text
