* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-crh.crh.lexc -text
/apertium-crh.crh.rlx -text
/apertium-crh.crh.twol -text
/apertium-crh.pc.in -text
/apertium-crh.post-crh.dix -text
/autogen.sh -text
/configure.ac -text
/crh.prob -text svneol=unset#unset
dev/Makefile -text
dev/annotate[!!-~]DK[!!-~]052017.txt -text
dev/annotate.txt -text
dev/countstems.sh -text
dev/crh_CYRL2LAT.lexc -text
dev/crh_CYRL2LAT.sh -text
dev/crh_CYRL2LAT.twol -text
dev/tokenisation/Makefile -text
dev/tokenisation/test.lexc -text
dev/tokenisation/test.txt -text
/modes.xml -text
tests/cases.yaml -text
tests/future.yaml -text
tests/loanwords.yaml -text
tests/possessives.yaml -text
tests/voicing.yaml -text
texts/alfred_nobel.vislcg.txt -text
texts/challenge.txt -text
texts/challenge.vislcg.txt -text
texts/crh-feats.tsv -text
texts/grammar.crh.txt -text
texts/grammar.vislcg.txt -text
texts/puupankki/puupankki.crh.conllu -text
texts/qarılğaç.vislcg.txt -text
texts/wikipedia.vislcg.txt -text
